@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

body, html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  max-width: 1800px;
  margin: 0 auto;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__logo {
  margin: 0 85px 0 auto;
}

.header-nav__menu {
  max-width: 1140px;
  margin: 0 auto;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  gap: 0 30px;
}

.header-nav__link {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.header-nav__btn {
  margin-right: auto;
}

.gallery-slider {
  min-height: 720px;
  overflow: hidden;
}

.gallery-slider .swiper {
  overflow: visible;
}

.gallery-slider .swiper-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.gallery-slider .swiper-horizontal > .swiper-scrollbar,
.gallery-slider .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -65px;
  z-index: 50;
  height: 5px;
  width: 114px;
  background: #e5e5e5;
  width: 114px;
}

.gallery-slider .swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: #000;
  border-radius: 10px;
  border-radius: 0;
  left: 0;
  top: 0;
}

.gallery-slider .swiper-button-next,
.gallery-slider .swiper-button-prev {
  top: 106%;
  margin-top: 0;
  background: yellowgreen;
}

.gallery-slider .swiper-button-next:after,
.gallery-slider .swiper-rtl .swiper-button-prev:after {
  content: "next";
  display: none;
}

.gallery-slider .swiper-button-prev:after,
.gallery-slider .swiper-rtl .swiper-button-next:after {
  content: "prev";
  display: none;
}

.gallery-slider .swiper-button-next {
  background: url("../img/icons/next.svg") center center no-repeat;
}

.gallery-slider .swiper-button-prev {
  background: url("../img/icons/prev.svg") center center no-repeat;
}

.gallery-slider .swiper-button-prev {
  left: 45%;
  right: auto;
}

.gallery-slider .swiper-button-next {
  right: 45%;
  left: auto;
}

.gallery-slider__content {
  max-width: 1800px;
  margin: 0 auto;
}

.gallery-slider__slide {
  max-width: 580px;
  width: 100%;
  min-height: 650px;
  position: relative;
}

.gallery-slider__img {
  width: 580px;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-slider__body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(209, 169, 84, 0.9);
  padding: 20px 15px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.gallery-slider__info {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 21px 0 22px;
  text-align: center;
}

.gallery-slider__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.gallery-slider__text {
  max-width: 230px;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.about {
  padding: 329px 0 90px;
  background: #f7f7f7;
}

.about__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 39px 30px;
}

.about__info-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.about__items {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  justify-self: center;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-55px);
          transform: translateY(-55px);
}

.about__items p {
  max-width: 350px;
  width: 100%;
}

.about__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 0;
}

.about__item img {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.about__item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.about__item:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.about__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.about__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.gallery {
  padding: 120px 0 150px;
}

.gallery__content {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: minmax(100px, 300px) minmax(100px, 300px) minmax(100px, 300px);
      grid-template-rows: minmax(100px, 300px) minmax(100px, 300px) minmax(100px, 300px);
}

.gallery__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gallery__item:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / 9;
}

.gallery__item:nth-child(3) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.gallery__item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.gallery__item:nth-child(5) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / 13;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.gallery__item:nth-child(6) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / 13;
}

.download {
  padding: 120px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../img/download/bg.jpg") center center no-repeat, #c4c4c4;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/download/bg.jpg") center center no-repeat, #c4c4c4;
  background-size: cover;
}

.download__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto 70px;
  text-align: center;
}

.download__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 90px;
}

.download__load, .download__present {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  padding: 23px 58px 20px;
}

.contacts {
  padding: 120px 0 114px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

.contacts__info {
  max-width: 540px;
}

.contacts__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 40px;
}

.contacts__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
  margin-bottom: 60px;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__items {
  max-width: 255px;
  width: 100%;
}

.contacts__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 34px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 24px;
  padding-left: 5px;
}

.contacts__item + .contacts__item {
  margin-top: 25px;
}

.contacts__span, .contacts__tel, .contacts__email {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000;
}

.contacts__tel, .contacts__email {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.contacts__form {
  max-width: 540px;
  width: 100%;
}

.contacts__input {
  width: 100%;
  padding: 13px 0;
  border: none;
  border-bottom: 0.5px solid #d0d0d0;
}

.contacts__input + .contacts__input {
  margin-top: 29px;
}

.contacts__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.contacts__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.contacts__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.contacts__input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.contacts__textarea {
  width: 100%;
  margin: 35px 0;
  padding: 15px 20px;
  border: 0.5px solid #d0d0d0;
  min-height: 196px;
  resize: none;
}

.contacts__textarea::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.contacts__textarea:-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.contacts__textarea::-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.contacts__textarea::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.contacts__send {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #d1a954;
  padding: 12px 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}

.instagram {
  overflow: hidden;
  padding-top: 120px;
  background: #f9f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.instagram__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  margin: 0 auto 8px;
}

.instagram__logo {
  margin: 0 auto 90px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.instagram__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.instagram__gallery img {
  width: 320px;
  height: 304px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.instagram__gallery img:hover {
  overflow: hidden;
  -webkit-transform: translateY(-35px) scale(1.1);
          transform: translateY(-35px) scale(1.1);
}

.footer {
  padding: 40px 0 37px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 25px;
}

.footer__copyright, .footer__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #000;
}

.footer__item {
  position: relative;
}

.footer__item::before {
  position: absolute;
  content: "";
  top: 13px;
  right: -20px;
  width: 13px;
  height: 1px;
  background: #000;
}

.footer__item:last-child:before {
  content: none;
}
/*# sourceMappingURL=style.css.map */