@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import "vars";
@import "reset";
@import "global";
.header-nav {
  max-width: 1800px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 0 30px;
  }
  &__link {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
  }
}

@import "media";
